html {
  height: 100%;
}
body {
  margin: 0;
}
/* cotainer1 styles */
.container1 {
  display: flex;
  flex-direction: column;
  height: 1000px;
  background-image: url(images/h_img.jpg);
  justify-items: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Poppins", sans-serif;
}

.landing-text {
  text-align: center;
}

.container1 .landing-text h2 {
  font-size: x-large;
}

.container1 .landing-text h1 {
  font-size: xx-large;
}

.container1 .landing-text p {
  font-size: large;
}
/* logo styles */
.logo {
  margin: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* container2 styles */

.about h1 {
  text-align: center;
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

.about p {
  text-align: center;
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
}

/* container3 */
.container3 {
  background-image: url(images/s_image.jpg);
}
.services {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  /* border: 3px solid red; */
  height: 400px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.services h1 {
  color: white;
  font-size: xx-large;
  text-transform: uppercase;
}
.services p {
  color: white;
  font-size: large;
}

/* container 4 */
.container4 {
  height: 300px;
  margin: 75px;
}
.text-wrapper {
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
.logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px;
}
/* conatainer5 */
.container5 {
  /* border: 3px solid red; */
  height: 800px;
  justify-content: center;
}

.portfolio {
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

.portfolio-images {
  display: flex;
  flex-direction: row;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin: 80px;
}

.portfolio-images2 {
  display: flex;
  flex-direction: row;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin: 80px;
}
/* container6 */

.container6 {
  margin-top: 50px;
  background-image: url(images/c_image.jpg);
  height: 600px;
}

.text- {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  margin: 20px;
  font-size: x-large;
}

.container7 {
  border: 3px solid red;
  display: flex;
  height: 300px;
  justify-content: space-between;
  align-items: center;
  margin: 80px;

}

