html {
  height: 100%;
}
body {
  margin: 0;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* cotainer1 styles */
.container1 {
  display: flex;
  flex-direction: column;
  height: 1000px;
  background-image: url(images/h_img.jpg);
  justify-items: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Poppins", sans-serif;
}

.landing-text {
  text-align: center;
}

.container1 .landing-text h2 {
  font-size: x-large;
}

.container1 .landing-text h1 {
  font-size: xx-large;
}

.container1 .landing-text p {
  font-size: large;
}
/* logo styles */
.logo {
  margin: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* scroll styles */
.scroll-image {
  margin-top: 170px;
}

/* container2 styles */

.about h1 {
  text-align: center;
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

.about p {
  text-align: center;
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
}

/* container3 */
.container3 {
  background-image: url(images/s_image.jpg);
}
.services {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  /* border: 3px solid red; */
  height: 400px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.services h1 {
  color: white;
  font-size: xx-large;
  text-transform: uppercase;
}
.services p {
  color: white;
  font-size: large;
}

/* container 4 */
.container4 {
  height: 300px;
  margin: 75px;
}
.text-wrapper {
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
.logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.text-1 {
  display: none;
  text-align: center;
  font-size: larger;
  max-width: 352px;
  height: 100px;
  font-family: "Poppins", sans-serif;

}

.text-2 {
  display: none;
  text-align: center;
  font-size: larger;
  max-width: 352px;
  height: 100px;
  font-family: "Poppins", sans-serif;
}
.text-3 {
  display: none;
  text-align: center;
  font-size: larger;
  max-width: 352px;
  height: 100px;
  font-family: "Poppins", sans-serif;
}
/* conatainer5 */
/* .container5 {
  height: 800px;
  justify-content: center;
}

.portfolio {
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

.portfolio-images {
  display: flex;
  flex-direction: row;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin: 80px;
}

.portfolio-images2 {
  display: flex;
  flex-direction: row;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin: 80px;
}

.box {
  position: relative;
  overflow: hidden;
  cursor: pointer;
} */
.portfolio {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 0;
}

.heading {
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.container5 {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.box {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.box img {
  max-width: 100%;
  display: block;
}
.overlay {
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #565656;
}
/* container6 */

.container6 {
  margin-top: 50px;
  background-image: url(images/c_image.jpg);
  height: 600px;
}

.text- {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  margin: 20px;
  font-size: x-large;
}
/* container7 */
.container7 {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin: 80px;
}

.footer {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: large;
}
.footer p {
  font-size: larger;
}
/* testing */
